include mixins/_head

+head()

body(class=`${bodyClass || ''}`)
  
  block messages
    if locals.flashes
      .flash-messages
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .flash(class=`flash--${category}`)
              p.flash--text!= message
              button.flash--remove(onClick="this.parentElement.remove()")
                != h.icon('close')

  block content
    
    form(action="/login" method="POST" class="login-form")
        img(src="/images/gfp-logo.svg", alt="GreenFarmParts" class="login-logo")
        div.form-group
          label(for="email") Email Address
          input(type="email" name="email" id="email")
        div.form-group
          label(for="password") Password
          input(type="password" name="password" id="password")
        input(type="submit" value="Log In")
    
    img(src="/images/login-bg.jpg", alt="" class="login-bg-image")