.product-form {
  // display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  .picture-stage {
    text-align: center;
  }

  canvas {
    max-width: 100%;
  }

  video.player {
    display: none;
  }
}
