.site-header {
    background-color: $light-gray;
    border-bottom: 1px solid $medium-gray;
    margin-bottom: 2rem;
}

.site-header .site-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header img {
    display: block;
}

.site-header nav ul {
    list-style-type: none;
}

.site-header nav li {
    display: inline-block;
    margin-right: 1rem;
    &:last-child {
        margin-right: 0;
    }
}

.site-header nav a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
}

.site-header input[type="search"] {
    border: 0;
    font-size: 0.8rem;
    padding: 0.5rem;
    background-color: $medium-gray;
}

.site-header .search-results {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    max-width: 1080px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem 0;
}