.login-screen {
    position: relative;
    min-height: 100vh;
    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-image: radial-gradient(rgba(white, 0.95) 35%, rgba(white, 0));
    }
}

.login-bg-image {
    max-width: 100%;
    object-fit: none;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    // opacity: 0.3;
}

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    padding: 2rem 3rem;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 10px 10px 20px -10px rgba(black, 0.3);

    label {
        display: block;
        font-size: 0.9rem;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 0.3rem;
        border: 1px solid $medium-gray;
        border-radius: 4px;
        display: block;
        margin-bottom: 0.75rem;
    }

    

}

.login-logo {
    margin-bottom: 1rem;
}