mixin productForm(product = {})
    form(action=`/add/${product._id || ''}` method="POST" class="product-form")
        .form-controls
            .form-group
                label(for="product-code") Product Code
                input(type="text" id="product-code" name="code" value=product.code)
            .strip
                if product.product_image
                    each image in product.product_image
                        input(type="image" name="product_image" src=`https://res.cloudinary.com/dpkuo9jjc/image/upload/v1522413167/${image}.jpg`)
            input(type="submit" value="Save Product")
        .picture-stage
            canvas.photo
            video.player
            button#takePhoto Take Photo